/* html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: rgb(43, 226, 150);
} */

body {
    display: inline;
    /* width: 600px; */
    /* This forces the body to always be 600 pixels wide. */
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: white;
    /* When you set two values on a property like margin or padding, 
    the first value affects the element's top and bottom side (setting it to 0 in this case); 
    the second value affects the left and right side. (Here, auto is a special value that divides 
    the available horizontal space evenly between left and right). You can also use one, two, three, 
    or four values */
    background-color: black;
    /* This sets the element's background color. 
    This project uses a reddish orange for the body background color, 
    as opposed to dark blue for the <html> element. (Feel free to experiment.) */
    padding: 0;
    /* This sets four values for padding. 
    The goal is to put some space around the content. 
    In this example, there is no padding on the top of the body, 
    and 20 pixels on the right, bottom and left. 
    The values set top, right, bottom, left, in that order. 
    As with margin, you can use one, two, three, or four values. */
    /* border: 5px solid black; */
    /* This sets values for the width, style and color of the border. 
    In this case, it's a five-pixel-wide, solid black border, on all sides of the body. */
}

header{
    display: flex;
    justify-content: space-between;
}

#logo-header{
    margin: 10px 0 0 0;
    width: 50px;
    height: 50px;
}

button {
    background-color:rgb(43, 226, 150);
    height: 30px;
    margin: 20px;
    padding: 0 10px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
}

nav{
    margin: 10px 0 0 0;
    text-align: center;
    background-color: rgb(112, 112, 112);
    padding: 0.5em;
}

nav a{
    color: white;
    padding: 10px;
    font-size: 15px;
}

nav a:hover{
    color: tomato;
}

#title{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
}

img {
    /* The <body> is a block element, meaning it takes up space on the page. 
    The margin applied to a block element will be respected by other elements on the page. 
    In contrast, images are inline elements, for the auto margin trick to work on this image, 
    we must give it block-level behavior using display: block;. */
    /* Note: The instructions above assume that you're using an image smaller than the width set on the body. (600 px) 
    If your image is larger, it will overflow the body, spilling into the rest of the page. 
    To fix this, you can either: 1) reduce the image width using a graphics editor, or 
    2) use CSS to size the image by setting the width property on the <img> element with a smaller value. */
    display: block;
    padding: 10px;
    width: 50px;
    height: 50px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    line-height: 1;
    text-align: left;
    color: #e799c7;
    text-shadow: 2px 2px 1px rgb(204, 87, 87);
    /* text-shadow applies a shadow to the text content of the element. Its four values are:
    The first pixel value sets the horizontal offset of the shadow from the text: how far it moves across.
    The second pixel value sets the vertical offset of the shadow from the text: how far it moves down.
    The third pixel value sets the blur radius of the shadow. A larger value produces a more fuzzy-looking shadow.
    The fourth value sets the base color of the shadow. */
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}


a {
    color: #a200ff;
    text-decoration: none;
}

a:hover {
    color: #e69ddc;
}

/* padding, the space around the content. In the example below, it is the space around the paragraph text.
border, the solid line that is just outside the padding.
margin, the space around the outside of the border.
width (of an element).
background-color, the color behind an element's content and padding.
color, the color of an element's content (usually text).
text-shadow sets a drop shadow on the text inside an element.
display sets the display mode of an element. (keep reading to learn more) */

section{
    width: 55%;
    height: auto;
    margin: 0 15px 0 15px;
}

article{
    float: left; /*automáticamente se va a alinear hacia la izquierda*/
    /* border: 1px solid #e69ddc; */
    
    padding: 10px;
    text-align: justify;
}

aside{
    float: left; /*automáticamente se va a alinear hacia la izquierda y como la otra sección ya está a la izquierda, va a buscar el espacio inmediatamente posterior, al lado*/
    width: 40%;
    height: auto;
    text-align: justify;
    padding: 10px;
    margin: 15px 0 0 15px;
}

aside p{
    border: 1px solid #e799c7;;
    padding: 10px;
}

footer{
    float:left;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: whitesmoke;
    height: 10%;
    margin: 0;
}

footer p {
    font-size: 12px;
    padding: 15px;

}